@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir/Avenir-Black.eot');
    src: local('Avenir Black'), local('Avenir-Black'),
        url('fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Avenir/Avenir-Black.woff2') format('woff2'),
        url('fonts/Avenir/Avenir-Black.woff') format('woff'),
        url('fonts/Avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.eot');
    src: local('FontAwesome'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    ;
    font-weight: 400;
    font-style: normal;
}




/* Reset CSS */

/* Remove box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background-color: #ffc100;
}

/* Remove padding and standard styling for all  ul and il which have attribute "class" */
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Remove margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
figure,
figcaption,
fieldset,
blockquote,
dl,
dd,
hr {
    margin: 0;
}



/* We inherit fonts for inputs and buttons */
input,
textarea,
select {
    font: inherit;
}

input {
    border: none;
    /*outline: 0;
    outline-offset: 0; */
    border-radius: 3px;
}

/* Reset styles for button */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}


/* Set custom class for button and links styling */
.btn {
    display: inline-block;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    /* for links */

    margin: 2px 0;

    border: solid 1px transparent;
    border-radius: 3px;

    padding: 0.5em 1em;

    color: #fff;
    background-color: #000;

    outline: none
}

.btn:hover {
    text-decoration: none;
}



img {
    display: block;
 }

 /*test comment*/



/* Global CSS */

body {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 auto;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 900;
    font-size: 14px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

}



input {
    height: 40px;
    width: 100%;
    padding: 8px 25px 8px 8px;
}

input::placeholder {
    color: #aaa;
    /*padding-left: 8px;*/
}

/* Edge */
input::-webkit-input-placeholder {
    color: #aaa;
    /* padding-left: 8px;*/
}

/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
    color: #aaa;
    /*padding-left: 8px;*/
}


select {
    height: 40px;
    width: 100%;
    min-width: 100px;
    padding: 8px 20px 8px 8px;
    color: #fff;
    border-radius: 3px;
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(media/svg/chevron-down-solid-white.svg);
    background-position: right 8px center;
    background-size: 8px;

    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


}


/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
select::-ms-expand {
    display: none;
}








h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 1.1;
}



p {
    margin: 0 0 5px;
}



/* Block Titles */

.block-title {
    font-size: 24px;
}



/* Error Messages */

.error {
    color: #d72222;
    margin: 10px 0px;
}

.newsletter-error {
    display: none;
}




/* Page Container*/

.page-container {
    max-width: 1110px;
    margin: 0 auto;
}


/* Header main */

.header {
    background-color: #ffc100;
    width: 100%;
    order: -1;

}

@media screen and (max-width: 991px) {
    .header {
        font-size: 12px;
    }
}


.header-wrapper {
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

}


/* HEADER LOGO */

.header-logo {
    display: block;
    min-width: 150px;
    height: 80px;
    margin: 0 8px;
}

.header-logo img {
    max-width: 100%;
    max-height: 100%;
}



/* Header inner container */

.header-inner-container {
    flex-grow: 1;
    align-self: flex-end;
}


/* Header inner */
.header-inner {
    display: flex;
    flex-direction: column;

}



/* Header elements container */


/* HEADER ELEMENTS */


.header-elements {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}




/* MOBILE LOGO */

.header-logo-mobile {
    display: none;
    max-width: 100px;
    width: auto;
    margin-bottom: 8px;
    height: 40px;
    margin: 0 auto 0 8px;
    order: -1;
}

.header-logo-mobile img {
    max-width: 100%;
    max-height: 100%;
}




/* NAVIGATION and SEARCH */

.navigation-search {
    flex-grow: 1
}



.navigation-search-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 8px;
}



/* Navigation */

.navigation-wrapper {
    height: 40px;
    min-width: 148px;
    margin-right: 8px;
    position: relative;
    z-index: 20;

}



.navigation-menu {
    display: block;
    border-radius: 3px;
    width: 100%;
}



.navigation-item {
    display: none;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}


.navigation-items:hover .navigation-item {
    display: block;
    border-bottom: 1px solid #ccc;
}

.navigation-items:hover .navigation-item:first-child {
    background-color: #fff;
    color: #000;
}


.navigation-items:hover .navigation-item:first-child::after {
   transform: rotate(180deg);
}

.navigation-item:hover {
    color: #ffc100;
}


.navigation-item:first-child {
    position: relative;
    display: block;
    border-radius: 3px;
}


.navigation-item:first-child::after {
    display: block;
    top: 12px;
    right: 8px;
    margin: auto;
    position: absolute;
    font-family: FontAwesome;
    font-weight: 400;
    content: "\f107";
}

.navigation-item a {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px 25px 8px 8px;
    position: absolute;
}


@media screen and (max-width: 479px) {
    .navigation-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        margin-left: -100%;
        -webkit-transition: 0.2s margin-left ease-out;
        transition: 0.2s margin-left ease-out;


    }

    .hamburger-menu:hover .navigation-wrapper {
        margin-left: 0;
    }


}





/* Search*/

.search-bar {
    height: 40px;
    position: relative;
    flex-grow: 1;
    min-width: 150px;
    margin-right: 8px;
}



.search-button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 11px;
    right: 10px;


}

.search-button::before {
    font-family: FontAwesome;
    content: '\f002';
}




/* CONTROLS */

.controls {
    margin-bottom: 8px;
}

.controls_wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



@media screen and (max-width: 767px) {

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
    }

    .navigation-search {
        width: 100%;
    }

    .controls {
        order: -1;
    }
}




/* BTW */

.btw {
    margin-right: 8px;
}


/* The container for toggle */
.switcher {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

/* Hide default HTML checkbox */
.switcher .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The toggle */
.toggle {
    font-size: 12px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    border-radius: 3px;
    overflow: hidden;


}

.toggle::before {
    position: absolute;
    content: "Excl. BTW";
    padding: 5px 7px;
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s linear;
    border-radius: 2px 0px 0px 2px;
    overflow: hidden;
}

.toggle-input:checked + .toggle {
    background-color: #000;
}

.toggle-input:focus + .toggle {
    box-shadow: 0 0 1px #fff;
}

.toggle-input:checked + .toggle::before {
    content: "Incl. BTW";
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    border-radius: 0px 2px 2px 0px;
}




/* Loggin */

.loggin-block {
    display: block;
    height: 40px;
    min-width: 40px;
    text-align: center;
    margin-right: 8px;
    overflow: hidden;
    border-radius: 3px;
    border-bottom: 1px solid #000;
}


.loggin-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1;
    text-decoration: none;
    padding: 13px 8px;
    background-color: #fff;
    -webkit-transition: 0.2s color ease-out, 0.2s background-color ease-out;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
}


.loggin-link:hover {
    text-decoration: none;
    background-color: #000;
    color: #fff;
}


.loggin-link::before {
    display: inline-block;
    font-family: FontAwesome;
    font-weight: 400;
    content: '\f007';
    margin-right: 6px;
    line-height: 1;
}




@media screen and (max-width: 991px) {

    .loggin-link {
        display: block;
        padding: 8px;
    }

    .loggin-link::before {
        display: block;
        margin-right: 0;
    }

}

@media screen and (max-width: 479px) {

    .loggin-link::before {
        margin-top: 4px;
        font-size: 16px;
    }

    .loggin-link-text {
        display: none;
    }

}





/* Shopping cart */
.shopping-cart {
    display: block;
    position: relative;
    height: 40px;
    border-radius: 3px;
    overflow: hidden;
}

@media screen and (max-width: 991px) {
    .shopping-cart {
        margin-right: 8px;
    }
}


.shopping-cart-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 22px 10px 54px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    -webkit-transition: 0.2s color ease-out, 0.2s background-color ease-out;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
}



.shopping-cart-link:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

.shopping-cart-link::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    bottom: 3px;
    left: 24px;
    margin: auto 0;
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 24px;
    content: "\f07a";
}

@media screen and (max-width: 991px) {
    .shopping-cart-link {
        padding-left: 40px;
        padding-right: 12px;
    }

    .shopping-cart-link::before {
        left: 12px;
    }
}

.shopping-cart-link .qty {
    font-family: 'Lato', Arial, sans-serif; /* It is not good to use this font only for one element of page*/
    position: relative;
}

.shopping-cart-link .qty::after {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
    font-family: FontAwesome;
    font-weight: 400;
    content: "\f107";

}

.shopping-cart-link:hover .qty::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* USP block*/

.header-usp-items-container {
    margin-left: 156px;
}

@media screen and (max-width: 991px) {

    .header-usp-items-container {
        margin-left: 8px;

    }



}

.usp-items-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.usp-items-list .fa {
    margin-right: 8px;
    font-size: 14px;
}

.header-usp-item {
    list-style-type: none;
    font-size: 12px;
    margin-right: 22px;
}





/* MAIN CONTENT */

.main-content {
    overflow: hidden;
}

.main-content-inner {
    display: flex;
    flex-direction: column;

}

.seo-header-text-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}



.top-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;

}



@media screen and (max-width: 767px) {

    .top-content {
        flex-flow: column wrap;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}




/* Sidebar with links*/

.links-sidebar-container {
    flex: 1 1 28.5%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 8px;
    padding-left: 8px;
    order: -1;
}



@media screen and (max-width: 767px) {
    .links-sidebar-container {
        order: 0;
        margin-top: 15px;
    }
}



.links-sidebar {
    overflow: hidden;
}


.link-item {
    line-height: 1.2;
}


.link-item:not(:last-child) {
    margin-bottom: 15px;
}


@media screen and (max-width: 767px) {

    .link-item:not(:last-child) {
        margin-bottom: 12px;

    }

}



/* Top Banners */

.product-banners {
    flex: 1 1 71.5%;
}

.product-banners-container {
    display: flex;
    flex-wrap: wrap;
}


/* General Top Banner Settings */

.banner {
    flex: 1 1 50%;
    padding-bottom: 7px;
    padding-left: 7px;
    min-width: 380px;
}


@media screen and (max-width: 767px) {
    .banner {
        flex: 1 1 100%;
        padding-left: 0px;
    }
}




.banner:first-child {
    min-width: 525px;
}

@media screen and (max-width: 767px) {
    .banner {
        min-width: 320px;
    }

    .banner:first-child {
        min-width: 320px;
    }
}





.banner .block-title {
    margin-bottom: 10px;
    margin-top: 25px;
}

.banner:first-child .block-title {
    font-size: 32px;
    margin-top: 8px;
}

@media screen and (max-width: 767px) {
    .banner .block-title {
        margin-top: 0px;
    }

    .banner:first-child .block-title {
        margin-top: 0px;
        font-size: 24px;
    }
}




.small-banner {
    flex: 1 1 33%;
    min-width: 260px;
}




.banner-inner {
    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    height: 100%;
    min-height: 225px;
    padding: 18px 25px 30px 35px;
    overflow: hidden;
    border-radius: 3px;
    align-items: center;
}




.banner:first-child .banner-inner {
    align-items: flex-start;
}







@media screen and (max-width: 767px) {
    .banner-inner {
        border-radius: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        min-height: 180px;
    }

    .banner:first-child .banner-inner {
        align-items: center;
    }
}


@media screen and (max-width: 479px) {
    .banner-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner:first-child .banner-inner {
        align-items: flex-start;
    }
}





.banner-content {
    flex: 1 1 46%;
    flex-grow: 1;
}




.banner-image-container {
    height: 85px;
    width: 120px;
    margin-left: 15px;
    flex-shrink: 0;
}


.banner:first-child .banner-image-container {
    align-self: flex-end;
    height: 145px;
    width: 135px;
}



@media screen and (max-width: 767px) {
    .banner:first-child .banner-image-container {
        height: 85px;
        width: 120px;
    }
}


@media screen and (max-width: 479px) {
    .banner-image-container {
        margin-left: 0;
        align-self: flex-end;
        /*position: relative;
        top: -25%;*/
        margin-top: -25%;

    }

    .banner:first-child .banner-image-container {
        align-self: flex-end;
    }
}



.banner-image-container img {
    max-height: 100%;
    max-width: 100%;
}





.banner-link {
    min-height: 41px;
    min-width: 78px;
    max-width: 150px;
    padding: 12px 8px;
}



/* Banner Info Block */
.banner .info-block:not(:last-child) {
    margin-bottom: 16px;
}


.banner .info-block p {
    margin-bottom: 0px;

}


.banner .info-block-title .title-icon {
    margin-left: -20px;
    margin-right: 8px;
}

.info-block-working-hours .working-hours-list {
    display: table;
    width: 100%;
}

.info-block-working-hours .day {
    display: table-cell;
    float: left;
    width: 25%
}

.info-block-working-hours .hours {
    display: table-cell;
    float: left;
    width: 75%;

}




/* Product Slider */



.slider-button {
    display: block;

    height: 35px;
    width: 35px;
    position: absolute;
    top: 44%;

    outline: none;

    z-index: 10;
}



.left-button {

    left: -22px;
    transition: left ease-out .5s
}

.right-button {

    right: -22px;
    transition: right ease-out .5s
}

.button-arrow {
    display: block;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center center;

}

.left-button .button-arrow {
    background-image: url(media/png/left-arrow-icon-1x.png);


}

.right-button .button-arrow {
    background-image: url(media/png/right-arrow-icon-1x.png);
}

@media screen and (max-width: 1199px) {

    .slider-button {
        top: 0;
        height: 100%;
    }

    .button-arrow {
        background-color: #000;
        opacity: 0.5;
    }

    .left-button .button-arrow {
        background-image: url(media/png/right-arrow-icon-white.png);
        transform: rotate(180deg);

    }

    .right-button .button-arrow {
        background-image: url(media/png/right-arrow-icon-white.png);
    }


    .left-button {
        left: 0;
    }

    .right-button {
        right: 0;
    }


}



.product-slider {
    display: block;
    background-color: #f4f4f4;
    margin-bottom: 40px;
    border-radius: 3px;
    position: relative;

}




.product-slider .block-title {
    font-size: 32px;
    padding: 10px 26px 5px 26px;

}


@media screen and (max-width: 767px) {
    .product-slider .block-title {
        font-size: 24px;
        padding-left: 8px;
    }
}

.product-slider-inner-container {
    position: relative;
}

.product-grid-container {
    overflow: hidden;
}


.product-grid-wrapper {
    width: calc(100% + 2px);
    position: relative;
    overflow: hidden;
}


.product-grid {
    display: flex;
    position: relative;
    left: -20%;
}


.product-tile {
    flex: 0 0 20%;
    min-height: 278px;
    background-color: #e8e8e8;
    width: 20%;
    padding-top: 1px;
    padding-right: 1px;
    flex-grow: 1;

}




@media screen and (max-width: 991px) {

    .product-grid {
        left: -25%;
    }

    .product-tile {
        flex-basis: 25%;
    }
}

@media screen and (max-width: 767px) {

    .product-grid {
        left: -33.33%;
    }

    .product-tile {
        flex-basis: 33.33%;
    }
}


@media screen and (max-width: 575px) {

    .product-grid {
        left: -50%;
    }

    .product-tile {
        flex-basis: 50%;
    }
}


.product-tile-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px 17px 30px;
    height: 100%;
    background-color: #f4f4f4;
}

.product-photo {
    width: 100%;
    height: 85px;
    margin-bottom: 45px;
    text-align: center;
}

.product-photo img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}


.product-sku {
    margin-bottom: 13px;
}

.product-price-box {
    font-size: 40px;
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .product-price-box {
        font-size: 30px;
    }
}






/* Bottom Banners */

.bottom-banners-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;


    color: #fff;
    border-radius: 3px;

    margin-bottom: 34px;
}



.bottom-banner {
    width: calc(50% - 3px);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 6px;
    max-height: 224px;
}

@media screen and (max-width: 767px) {
    .bottom-banner {
        width: 100%;
        flex-grow: 1;
        max-height: 100%;
        border-radius: 0;
    }
}


.bottom-banner-image-container {
    max-height: 100%;
    max-width: 100%;

}

.bottom-banner-image {
    width: 100%;
    height: 100%;

}


.bottom-banner-title-wrapper {
    display: block;
    height: 100%;
    padding: 20px 23px;
    ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0px 0px 9px #555;

}



.bottom-banner .block-title {
    font-size: 40px;
    line-height: 1.1;
}


@media screen and (max-width: 767px) {
    .bottom-banner .block-title {
        font-size: 30px;
    }
}




/* Footer */


.footer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


/* Footer Top Container*/

.footer-top-container {
    background-color: #f4f4f4;
}

.footer-top-container-inner {
    display: flex;
    /*justify-content: space-between;*/
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    padding: 50px 0 20px;

    background-color: #f4f4f4;
}


/* Footer Top Container Blocks */


.column-4 {
    min-width: 200px;
    padding: 0 8px 30px 0;
    overflow: hidden;
    /*flex-grow: 1;*/
}

/* About Block */
.about-block {
    width: 30%;
}


/* Service Block */
.service-block {
    width: 24%;
}


/* Newsletter Subscription Block */
.newsletter-subscription-block {
    width: 27%;
    padding-right: 48px;
}

#newsletter-subscribe-email {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}


.newsletter-subscribe-button {
    min-height: 42px;
    width: 100%;
    min-width: 150px;
    padding: 8px 12px;
}


/* Payment icons */

.footer-icons {
    width: 19%;
    align-self: center;
}



.payment-items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

}



.payment-item {
    display: flex;
    float: left;
    max-height: 50px;
    max-width: 126px;
    margin: 20px 25px 0px 0px;
}

/*
img[src$=".svg"] {width: 100%;}
*/

.payment-item img {
    margin: auto;
    max-height: 50px;
    max-width: 100%;


}



/* Footer Bottom Container Blocks */

.footer-bottom-container {
    padding: 10px;
}





.footer-bottom-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 767px) {
    .footer-bottom-container-inner {
        flex-direction: column;

    }
}


/* Footer Bottom Menu */


.footer-bottom-menu {
    margin-right: 10px;
}

@media screen and (max-width: 767px) {
    .footer-bottom-menu {
        margin-right: 0px;
        margin-bottom: 10px;
    }
}


.footer-bottom-menu-item:not(:last-child):after {
    display: inline-block;
    content: "|";
    margin: 2px 10px;
    ;
}


.footer-bottom-menu-item {
    margin: 2px 0;
}



/* Footer Rating */

.footer-raiting {
    margin: 2px 10px;
}

.footer-rating-stars {
    display: inline-block;
    margin-right: 10px;

}


.fa.fa-star {
    color: #ffc100;
}


.footer-rating-reviews {
    display: inline-block;
    margin: 2px 0;
}
