@font-face {
    font-family: 'Avenir';
    src: url('fonts/Avenir/Avenir-Black.eot');
    src: local('Avenir Black'), local('Avenir-Black'),
        url('fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Avenir/Avenir-Black.woff2') format('woff2'),
        url('fonts/Avenir/Avenir-Black.woff') format('woff'),
        url('fonts/Avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.eot');
    src: local('FontAwesome'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    ;
    font-weight: 400;
    font-style: normal;
}




/* Reset CSS */

/* Remove box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background-color: #ffc100;
}

/* Remove padding and standard styling for all  ul and il which have attribute "class" */
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Remove margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
figure,
figcaption,
fieldset,
blockquote,
dl,
dd,
hr {
    margin: 0;
}

/* We inherit fonts for inputs and buttons */
input,
textarea,
select {
    font: inherit;
}

/* Reset styles for button */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}


/* Set custom class for button and links styling */
.btn {
    display: inline-block;
    text-align: center;

    text-decoration: none;
    /* for links */

    margin: 2px 0;

    border: solid 1px transparent;
    border-radius: 3px;

    padding: 0.5em 1em;

    color: #fff;
    background-color: #000;
}

.btn:hover {
    text-decoration: none;
}



img {
    display: block;
}




/* Global CSS */

body {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 auto;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 900;
    font-size: 14px;
    min-height: 100vh;

    background-color: aquamarine;

    flex-direction: column;
    justify-content: flex-start;

}




input {
    height: 40px;
    width: 100%;
    padding: 8px 25px 8px 8px;
}

input::placeholder {
    color: #aaa;
    /*padding-left: 8px;*/
}

/* Edge */
input::-webkit-input-placeholder {
    color: #aaa;
    /* padding-left: 8px;*/
}

/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
    color: #aaa;
    /*padding-left: 8px;*/
}


select {
    height: 40px;
    width: 100%;
    min-width: 100px;
    padding: 8px 20px 8px 8px;
    color: #fff;
    border-radius: 3px;
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(media/svg/chevron-down-solid-white.svg);
    background-position: right 8px center;
    background-size: 8px;

    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


}


/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
select::-ms-expand {
    display: none;
}








h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 1.1;
}



p {
    margin: 0 0 5px;
}


.block-title {
    font-size: 24px;
}

.big-title {
    font-size: 32px;
}




/* Page Container*/

.page-container {
    max-width: 1110px;
    margin: 0 auto;
    overflow: hidden;

    background-color: cadetblue;
}


/* Header main */

header {
    background-color: #ffc100;
    width: 100%;
    order: -1;
    padding: 0px;
    overflow: hidden;



}


.header-wrapper {
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;




}

/* Header logo */

.header-logo {
    flex-basis: 152px;
    min-width: 50px;
    max-height: 80px;
    margin: 0 8px;
}


/* Header inner container */

.header-inner-container {
    flex-grow: 1;
}


/* Header inner */
.header-inner {
    display: flex;
    flex-direction: column;

}



/* Header elements container */
.header-elements-container {}

/*Header elements*/
.header-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* Navigation */

.navigation-wrapper.desktop {
    height: 40px;
    min-width: 148px;
    margin-right: 8px;
}


/* Search */

.search-bar {
    height: 40px;
    position: relative;
    flex-grow: 1;
    min-width: 150px;
    margin-right: 8px;
}


.search-button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 11px;
    right: 10px;
    max-height: 13px;
    max-width: 13px;


}

.search-button:before {
    font-family: FontAwesome;
    content: '\f002';
}




/* BTW */

.btw-wrapper {
    margin-right: 8px;
}


/* The container for toggle */
.switcher {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;


}

/* Hide default HTML checkbox */
.switcher .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The toggle */
.toggle {
    font-size: 12px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    border-radius: 3px;
    flex-shrink: 0;
    overflow: hidden;


}

.toggle::before {
    position: absolute;
    content: "Excl. BTW";
    padding: 5px 7px;
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #fff;
    -webkit-transition: 0.2s;
    transition: 0.2s linear;
    border-radius: 2px 0px 0px 2px;
    overflow: hidden;
}

.toggle-input:checked + .toggle {
    background-color: #000;
}

.toggle-input:focus + .toggle {
    box-shadow: 0 0 1px #fff;
}

.toggle-input:checked + .toggle::before {
    content: "Incl. BTW";
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    border-radius: 0px 2px 3px 2px;
}




/* Loggin */

.loggin-block {
    display: block;
    min-width: 40px;
    max-width: 130px;
    text-align: right;
    margin-right: 8px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;

}


.loggin-link {
    display: table-cell;
    vertical-align: middle;
    padding-left: 24px;
    padding-right: 8px;
    position: relative;
    width: 100%;
    height: 40px;

    line-height: 1;

    border-radius: 3px;

    background-color: #fff;
    text-decoration: none;
    color: #000;

    overflow: hidden;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;

}

.loggin-link:before {
    font-family: FontAwesome;
    content: '\f007';
    line-height: 1;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -0.5em;

}




/* Shopping cart */
.shopping-cart {
    display: block;
    height: 40px;
    width: 84px;
    border-radius: 3px;
    background-color: #000;
    overflow: hidden;
    flex-shrink: 0;

}


.shopping-cart-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    line-height: 1.4;
    text-align: right;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(media/svg/shopping-cart-white.svg), url(media/svg/chevron-down-solid-white.svg);
    background-position: left 25px center, right 20px bottom 10px;
    background-size: 24px, 8px;
    -webkit-transition: 0.05s linear;
    transition: 0.05s linear;

}

.shopping-cart-link:hover {
    color: #ffc100;
    background-image: url(media/svg/shopping-cart-orange.svg), url(media/svg/chevron-down-solid-orange.svg);
}



.shopping-cart-link .qty {
    font-family: 'Lato', Arial, sans-serif;
}


/* USP block*/

.header-usp-items-container {
    margin-top: 8px;
    margin-left: 156px;
}

.usp-items-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.usp-items-list .fa {
    margin-right: 8px;
    font-size: 14px;
}

.header-usp-item {
    list-style-type: none;
    font-size: 12px;
    margin-right: 22px;
}





/* MAIN CONTENT */



.main-content-inner {
    display: flex;
    flex-direction: column;

}

.seo-header-text-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}


.top-content {
    background-color: aqua;
}


.top-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 30px;
}




/* Sidebar with links*/


.links-sidebar-container {
    order: -1;
    flex-grow: 1;
    flex-basis: 310px;
    max-width: 310px;
    min-width: 180px;
    margin-bottom: 8px;
    padding-left: 8px;
    background-color: #ccc;
    overflow: hidden;

}



.link-item {
    line-height: 1.2;

}

.link-item:not(:last-child) {
    margin-bottom: 16px;
}



/* Top Banners */

.top-banners-block {
    flex-basis: 785px;
    /*max-width: 785px;*/
    flex-grow: 1;

}

.top-banners-block-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}




/* General Top Banner Settings */

.top-banner {
    background-color: #f4f4f4;
    flex-basis: calc(50% - 7px);
    min-width: 380px;
    margin-bottom: 8px;
    min-height: 225px;
    padding: 20px 25px 40px 35px;
    margin-left: 7px;
    flex-grow: 1;
    overflow: hidden;
    border-radius: 3px;
}

.top-banner .block-title {
    margin-bottom: 10px;
}


.top-banner-inner {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    overflow: hidden;
}


.top-banner-content {
    flex-grow: 1;
    background-color: brown;
}

.top-banner-image-container {
    height: 85px;
    width: 120px;
    background-color: coral;
    margin-left: 15px;
    flex-shrink: 0;
}

.top-banner-image-container img {
    max-height: 100%;
    max-width: 100%;
}



.top-banner-link {
    min-height: 41px;
    min-width: 78px;
    max-width: 150px;
    padding: 12px 8px;
}



/* Main Banner */


.top-banner.main {
    flex-basis: calc(66.66% - 7px);
    min-width: 520px;
    padding-top: 30px;

}

.main .top-banner-inner {
    align-items: flex-start;
}

.main .top-banner-content {
    /* flex-basis: 304px;*/
}



.main .top-banner-image-container {
    align-self: flex-end;
    background-color: cadetblue;
    height: 145px;
    width: 135px;
}



/* Info Banner */


.top-banner.info {
    /*flex-basis: calc(33.33% - 4px);*/
    flex-basis: calc(33.33% - 7px);
    min-width: 256px;
}


.info .top-banner-inner {
    align-items: flex-start;
}

.info .top-banner-content {
    flex-basis: 100%;
}

.top-banner-info-block:not(:last-child) {
    margin-bottom: 16px;
}

.top-banner-info-block {
    line-height: 1.4;

}

.top-banner-info-block p {
    margin-bottom: 0px;

}


.info-block-title {
    position: relative;
}

.info-block-title-icon {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -20px;
}

.info-block-working-hours .working-hours-list {
    display: table;
    width: 100%;
}

.info-block-working-hours .day {
    display: table-cell;
    float: left;
    width: 25%
}

.info-block-working-hours .hours {
    display: table-cell;
    float: left;
    width: 75%;

}







/* Product Slider */


.slider-section {
    display: flex;
    background-color: #f4f4f4;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-bottom: 40px;
    border-radius: 3px;
    overflow: hidden;
}

.slider-section .block-title {
    padding: 6px 26px 3px 26px;

}

.product-slider-wrapper {
    background-color: #e8e8e8;
    width: 100%;
}

.product-slider {
    display: flex;
    justify-content: space-between;
    width: calc(100% + 1px);

}

.product-tile {
    min-height: 278px;
    background-color: #f4f4f4;
    width: 20%;
    /*min-width: 200px;*/
    padding: 40px 30px 17px 30px;
    margin: 1px 1px 1px 0px;
    flex-grow: 1;

}

.product-tile-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
}

.product-photo {
    width: 100%;
    height: 85px;
    margin-bottom: 45px;
    text-align: center;
}

.product-photo img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}


.product-name {}


.product-item-details {}



.product-sku {
    margin-bottom: 13px;
}

.product-price-box {
    font-size: 40px;
    line-height: 1;
}








/* Bottom Banners */

.bottom-banners-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;


    color: #fff;
    border-radius: 3px;

    margin-bottom: 34px;
}

.bottom-banner {
    width: calc(50% - 3px);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 6px;
    max-height: 224px;
}



.bottom-banner-image-container {
    max-height: 100%;
    max-width: 100%;

}

.bottom-banner-image {
    width: 100%;
    height: 100%;

}


.banner-title-wrapper {
    display: block;
    height: 100%;
    padding: 20px 23px;
    ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0px 0px 9px #555;

}



.banner-title .block-title {
    font-size: 40px;
    line-height: 1.1;

}




/* Footer */


.footer {
    display: flex;
    flex-direction: column;
}


/* Footer Top Container*/

.footer-top-container {
    background-color: #f4f4f4;
}

.footer-top-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    padding: 50px 0 20px;

    background-color: #f4f4f4;
}


/* Footer Top Container Blocks */


/* About Block */
.about-block {
    width: calc(30% - 18px);
    min-width: 200px;
    margin-right: 10px;
    margin-left: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    flex-grow: 1;
}


/* Service Block */
.service-block {
    width: calc(21% - 18px);
    min-width: 200px;
    margin-right: 10px;
    margin-left: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    flex-grow: 1;
}


/* Newsletter Subscription Block */
.newsletter-subscription-block {
    width: calc(26% - 40px);
    min-width: 200px;
    margin-right: 40px;
    margin-left: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    flex-grow: 1;

}

#newsletter-subscribe-email {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}


.newsletter-subscribe-button {
    min-height: 42px;
    width: 100%;
    min-width: 150px;
    padding: 8px 12px;
}




/* Payment icons */

.footer-icons {
    width: calc(23% - 8px);
    min-width: 200px;
    align-self: center;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 30px;
    overflow: hidden;
    flex-grow: 1;

}


.payment-item {
    display: flex;
    float: left;
    width: 50%;
    max-width: 126px;
    height: 50px;
    margin-top: 20px;
}

.payment-item img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}



/* Footer Bottom Container Blocks */

.footer-bottom-container {
    padding: 10px;
}


.footer-bottom-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Footer Bottom Menu */


.footer-bottom-menu {
    margin-right: 10px;
}

.footer-bottom-menu-item:not(:last-child):after {
    display: inline-block;
    content: "|";
    margin: 2px 10px;;
}



.footer-bottom-menu-item {
    margin: 2px 0;

}



/* Footer Rating */

.footer-raiting {
    margin: 2px 10px;
}

.footer-rating-stars {
    display: inline-block;
    margin-right: 10px;

}


.fa.fa-star {
    color: #ffc100;
}


.footer-rating-reviews {
    display: inline-block;
    margin: 2px 0;
}
