/* FONTS */


@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir/Avenir-Black.eot');
    src: local('Avenir Black'), local('Avenir-Black'),
        url('../fonts/Avenir/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir/Avenir-Black.woff2') format('woff2'),
        url('../fonts/Avenir/Avenir-Black.woff') format('woff'),
        url('../fonts/Avenir/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.eot');
    src: local('FontAwesome'),
        url('../fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('../fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/FontAwesome-4.7.0/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    ;
    font-weight: 400;
    font-style: normal;
}




/* RESET CSS */

/* Remove box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*::selection {
    background-color: #ffc100;
}

/* Remove padding and standard styling for all  ul and il which have attribute "class" */
ul[class],
ol[class] {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Remove margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
li,
figure,
figcaption,
fieldset,
blockquote,
dl,
dd,
hr {
    margin: 0;
}



/* We inherit fonts for inputs and buttons */
input,
textarea,
select {
    font: inherit;
}

input {
    border: none;
    /*outline: 0;
    outline-offset: 0; */
    border-radius: 3px;
}

/* Reset styles for button */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}


/* Set custom class for button and links styling */
.btn {
    display: inline-block;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    /* for links */

    margin: 2px 0;

    border: solid 1px transparent;
    border-radius: 3px;

    padding: 0.5em 1em;

    color: #fff;
    background-color: #000;

    outline: none
}

.btn:hover {
    text-decoration: none;
}


/* Link for wrapping whole block */
.block-wrapping-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}


img {
    display: block;
 }



/* Global CSS */

body {
    display: flex;
    width: 100%;
    border: 1px solid #ccc;
    margin: 0 auto;
    font-family: 'Avenir', Arial, sans-serif;
    font-weight: 900;
    font-size: 14px;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

}



input {
    height: 40px;
    width: 100%;
    padding: 8px 25px 8px 8px;
}

input::placeholder {
    color: #aaa;
}

/* Edge */
input::-webkit-input-placeholder {
    color: #aaa;
}

/* Internet Explorer 10-11 */
input:-ms-input-placeholder {
    color: #aaa;
}


select {
    height: 40px;
    width: 100%;
    min-width: 100px;
    padding: 8px 20px 8px 8px;
    color: #fff;
    border-radius: 3px;
    background-color: #000;
    background-repeat: no-repeat;
    background-image: url(../assets/icons/chevron-down-solid-white.svg);
    background-position: right 8px center;
    background-size: 8px;


    /* Remove default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;


}


/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
select::-ms-expand {
    display: none;
}





h4 {
    font-size: 24px;
    margin: 0 0 10px 0;
    line-height: 1.1;
}



p {
    margin: 0 0 5px;
}



/* Block Titles */

.block-title {
    font-size: 24px;
}



/* Error Messages */

.error {
    color: #d72222;
    margin: 10px 0px;
}

.newsletter-error {
    display: none;
}




/* Page Container*/

.page-container {
    max-width: 1110px;
    margin: 0 auto;
}



/* HEADER */

.header {
    background-color: #ffc100;
    width: 100%;
    order: -1;
}


.header-wrapper {
    width: 100%;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;

}


/* HEADER LOGO */

.header-logo {
    display: block;
    min-width: 150px;
    height: 80px;
    margin: 0 8px;
}

.header-logo img {
    max-width: 100%;
    max-height: 100%;
}



/* HEADER MAIN CONTAINER */


.header-main-container {
    flex-grow: 1;
    margin-top: 8px;
}

.header-main {
    display: flex;
    flex-wrap: nowrap;
}



/* NAVIGATION MENU */


/* Menu Overlay Toggle */

#menu-overlay-toggle {
    height: 0;
    width: 0;
    opacity: 0;
    margin: 0;
}



/* Navigation Wrapper */
.navigation-wrapper {
    margin-right: 8px;
}



/* Menu Title */

.menu-title-container {
    display: none;
}



/* Menu Items */

.navigation-menu-container {
    height: 40px;
    min-width: 148px;
    position: relative;
    z-index: 20;

}

.navigation-menu {
    display: block;
    border-radius: 3px;
}

#navigation-items {
     /* display:none; */
}

.navigation-items {
    display:none;
}

.navigation-item {
    display: none;
    height: 40px;
    width: 100%;
    color: #fff;
    background-color: #000;
    overflow: hidden;
}


.navigation-items.menu-active .navigation-item {
    display: block;
    border-bottom: 1px solid #ccc;
}

.navigation-items:hover .navigation-item:first-child {
    background-color: #fff;
    color: #000;
}


.navigation-items.menu-active .navigation-item:first-child::after {
   transform: rotate(180deg);
}

.navigation-item:hover {
    color: #ffc100;
}


.navigation-item:first-child {
    position: relative;
    display: block;
    border-radius: 3px;
}


.navigation-item:first-child::after {
    display: block;
    top: 12px;
    right: 8px;
    margin: auto;
    position: absolute;
    font-family: FontAwesome;
    font-weight: 400;
    content: "\f107";
}

.navigation-item a {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 40px;;
    padding: 10px 25px 8px 8px;
    position: absolute;
}




/* HEADER TOP CONTAINER */

.header-elements-container {
    flex-grow: 1;
}

.header-elements {
    display: flex;
    flex-direction: column;
}




/* HEADER ELEMENTS */


.header-top {
    display: flex;
    justify-content: space-between;
}



/* Mobile Logo */

.header-logo-mobile {
    display: none;
    max-width: 100px;
    height: 40px;
    min-width: 75px;
    margin-right: auto;
    margin-bottom: 8px;
}

.header-logo-mobile img {
    max-width: 100%;
    max-height: 100%;
}





/* SEARCH & HAMBURGER CONTAINER */


.search-hamburger-container {
    flex-grow: 1;
    margin-bottom: 8px;
}

.search-hamburger {
    display: flex;
}



/* Hamburger Menu Icon */

.hamburger-icon-container {
    display: none;
    padding-right: 8px;
}

.hamburger-icon {
    display: block;
    font-size: 10px;
    line-height: 1;
    cursor: pointer;
}

.hamburger-icon:before {
    display: block;
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 30px;
    content: "\f0c9";
}



/* SEARCH */

.search-bar {
    height: 40px;
    position: relative;
    flex-grow: 1;
    min-width: 150px;
    margin-right: 8px;
}



.search-button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    position: relative;
    z-index: 1;
    position: absolute;
    top: 11px;
    right: 10px;


}


.search-button::before {
    font-family: FontAwesome;
    content: '\f002';
}



/* CONTROLS */


.controls-container {
    margin-bottom: 8px;
}


.controls {
    display: flex;
    justify-content: flex-end;
}




/* CONTROLS > BTW */

.btw {
    margin-right: 8px;
}


/* The container for toggle */
.switcher {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 40px;
}

/* Hide default HTML checkbox */
.switcher .toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

/* The toggle */
.toggle {
    font-size: 12px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    border-radius: 3px;
    overflow: hidden;


}

.toggle span {
    display: inline-block;
    width: 50%;
    height: 40px;
    padding: 5px 7px;
}


.toggle::before {
    content: "";
    position: absolute;
    padding: 5px 7px;
    height: 40px;
    width: 40px;
    left: 40px;
    bottom: 0px;
    background-color: #000;
    -webkit-transition: 0.2s;
    transition: 0.2s linear;
    border-radius: 3px;
    overflow: hidden;
}

.toggle-input:checked + .toggle {
    background-color: #fff;
}

.toggle-input:focus + .toggle {
    box-shadow: 0 0 1px #fff;
}

.toggle-input:checked + .toggle::before {
    -webkit-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    transform: translateX(-40px);
}




/* CONTROLS > LOGGIN */

.loggin-block {
    display: block;
    height: 40px;
    min-width: 40px;
    text-align: center;
    margin-right: 8px;
    overflow: hidden;
}


.loggin-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    line-height: 1;
    text-decoration: none;
    padding: 13px 8px;
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #000;
    -webkit-transition: 0.2s color ease-out, 0.2s background-color ease-out;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
}


.loggin-link:hover {
    text-decoration: none;
    background-color: #000;
    border-bottom: none;
    color: #fff;
}


.loggin-link::before {
    display: inline-block;
    font-family: FontAwesome;
    font-weight: 400;
    content: '\f007';
    margin-right: 6px;
    line-height: 1;
}





/* CONTROLS > SHOPPING CART */

.shopping-cart {
    display: block;
    position: relative;
    height: 40px;
}



.shopping-cart-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 22px 10px 54px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    -webkit-transition: 0.2s color ease-out, 0.2s background-color ease-out;
    transition: 0.2s color ease-out, 0.2s background-color ease-out;
    border-radius: 3px;
}



.shopping-cart-link:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000;
}

.shopping-cart-link::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    bottom: 3px;
    left: 24px;
    margin: auto 0;
    font-family: FontAwesome;
    font-weight: 400;
    font-size: 24px;
    content: "\f07a";
}


.shopping-cart-link .qty {
    font-family: 'Lato', Arial, sans-serif; /* It is not good to use this font only for one element of page*/
    position: relative;
}

.shopping-cart-link .qty::after {
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 0;
    font-family: FontAwesome;
    font-weight: 400;
    content: "\f107";

}

.shopping-cart-link:hover .qty::after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/* USP block*/


.usp-items-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.usp-items-list .fa {
    margin-right: 8px;
    font-size: 14px;
}

.header-usp-item {
    list-style-type: none;
    font-size: 12px;
    margin-right: 22px;
}





/* MAIN CONTENT */

.main-content {
    flex: 1 0 auto;
}

.main-content-inner {
    display: flex;
    flex-direction: column;
}

.seo-header-text-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}



/* MAIN CONTENT > TOP CONTENT */

.top-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 40px;

}




/* Sidebar with links*/

.links-sidebar-container {
    flex: 1 1 28.5%;
    flex-grow: 1;
    flex-shrink: 1;
    padding-bottom: 8px;
    padding-left: 8px;
    order: -1;
}



.links-sidebar {
    overflow: hidden;
}



.link-item {
    line-height: 1.2;
    padding-right: 10px;
}


.link-item:not(:last-child) {
    padding-bottom: 15px;
}




/* Top Banners */

.product-banners {
    flex: 1 1 71.5%;
}

.product-banners-container {
    display: flex;
    flex-wrap: wrap;
}


/* General Top Banner Settings */

.banner {
    flex: 1 1 50%;
    padding-bottom: 7px;
    padding-left: 7px;
    min-width: 380px;
}


.banner:first-child {
    min-width: 525px;
}


.banner .block-title {
    margin-bottom: 10px;
    margin-top: 25px;
}

.banner:first-child .block-title {
    font-size: 32px;
    margin-top: 8px;
}


.small-banner {
    flex: 1 1 33%;
    min-width: 260px;
}


.banner-inner {
    position: relative;

    display: flex;
    justify-content: space-between;
    background-color: #f4f4f4;
    height: 100%;
    min-height: 225px;
    padding: 18px 25px 30px 35px;
    overflow: hidden;
    border-radius: 3px;
    align-items: center;
}


.banner:first-child .banner-inner {
    align-items: flex-start;
}



.banner-content {
    flex: 1 1 46%;
    flex-grow: 1;
}




.banner-image-container {
    height: 85px;
    width: 120px;
    margin-left: 15px;
    flex-shrink: 0;
}


.banner:first-child .banner-image-container {
    align-self: flex-end;
    height: 145px;
    width: 135px;
}


.banner-image-container img {
    max-height: 100%;
    max-width: 100%;
}


.banner-link {
    min-height: 41px;
    min-width: 78px;
    max-width: 150px;
    padding: 12px 8px;
}



/* Banner Info Block */

.banner .info-block:not(:last-child) {
    margin-bottom: 16px;
}


.banner .info-block p {
    margin-bottom: 0px;

}


.banner .info-block-title .title-icon {
    margin-left: -20px;
    margin-right: 8px;
}

.info-block-working-hours .working-hours-list {
    display: table;
    width: 100%;
}

.info-block-working-hours .day {
    display: table-cell;
    float: left;
    width: 25%
}

.info-block-working-hours .hours {
    display: table-cell;
    float: left;
    width: 75%;

}




/* PRODUCT SLIDER */


.slider-button {
    display: block;

    height: 35px;
    width: 35px;
    position: absolute;
    top: 44%;

    outline: none;

    -webkit-transition: transform  ease-out .2s;
    transition: transform ease-out .2s;

    z-index: 20;
}



.btn-prev {
    left: -22px;
}

.btn-prev:hover {
    transform: translateX(-3px);
}


.btn-next {
    right: -22px;
}

.btn-next:hover {
   transform: translateX(3px);
}

.button-arrow {
    display: block;
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center center;

}

.btn-prev .button-arrow {
    background-image: url(../assets/icons/left-arrow-icon-1x.png);


}

.btn-next .button-arrow {
    background-image: url(../assets/icons/right-arrow-icon-1x.png);
}



.product-slider {
    display: block;
    background-color: #f4f4f4;
    margin-bottom: 40px;
    border-radius: 3px;
    position: relative;

}


.product-slider .block-title {
    font-size: 32px;
    padding: 10px 26px 5px 26px;

}



.product-slider-inner-container {
    position: relative;
}


.product-slider-grid-container {
    overflow: hidden;

}


.product-slider-view {
    width: calc(100% + 2px);
    position: relative;
    overflow: hidden;

}


.products-grid {
    display: flex;
    position: relative;
    left: 0;
    -webkit-transition: .25s left ease-out;
    transition: .25s left ease-out;

}


.no-transition {
    -webkit-transition: none;
    transition: none;
}


.product-tile {
    position: relative;

    flex: 0 0 20%;
    min-height: 278px;
    background-color: #e8e8e8;
    padding-top: 1px;
    padding-right: 1px;
    flex-grow: 1;
    z-index: 1;
}


.block-wrapping-link:hover ~ .product-tile-inner .product-name {
    text-decoration: underline;
}


.block-wrapping-link:hover ~ .product-tile-inner .product-sku {
    text-decoration: underline;
}


.product-tile-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px 17px 30px;
    height: 100%;
    background-color: #f4f4f4;
}

.product-photo {
    width: 100%;
    height: 85px;
    margin-bottom: 45px;
    text-align: center;
}

.product-photo img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}


.product-sku {
    margin-bottom: 13px;
}

.product-price-box {
    font-size: 40px;
    line-height: 1;
}




/* BOTTOM BANNERS */

.bottom-banners-container {
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;


    color: #fff;
    border-radius: 3px;

    margin-bottom: 34px;
}



.bottom-banner {
    width: calc(50% - 3px);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 6px;
    max-height: 224px;
}


.bottom-banner-image-container {
    max-height: 100%;
    max-width: 100%;

}

.bottom-banner-image {
    width: 100%;
    height: 100%;

}


.bottom-banner-title-wrapper {
    display: block;
    height: 100%;
    padding: 20px 23px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: 0px 0px 9px #555;

}



.bottom-banner .block-title {
    font-size: 40px;
    line-height: 1.1;
}


@media screen and (max-width: 767px) {


    /* HEADER ELEMENTS */

    .header-elements-container {
        margin: 0 8px 8px 8px;
    }


    /* HEADER TOP CONTAINER */

    .header-top {
        flex-wrap: wrap;
    }


    /* SEARCH & HAMBURGER CONTAINER*/

    .search-hamburger-container {
        width: 100%;
        margin-bottom: 12px;
    }


    /* Mobile logo*/

    .header-logo-mobile {
        order: -1;
        margin-bottom: 12px;
    }

    /* Search */
    .search-bar {
        margin-right: 0;
    }


    /* Controls */

    .controls-container {
        order: -1;
    }


    /* BOTTOM BANNERS */

    .bottom-banner .block-title {
        font-size: 30px;
    }
}




/* Footer */


.footer {
    flex: 0 0 auto;
}

.footer-inner-wrapper {
    display: flex;
    flex-direction: column;
 }


/* Footer Top Container*/

.footer-top-container {
    background-color: #f4f4f4;
}

.footer-top-container-inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    padding: 45px 0 20px;

    background-color: #f4f4f4;
}


/* Footer Top Container Blocks */




.column {
    min-width: 200px;
    padding-bottom: 30px;
    padding-right: 8px;
    flex-grow: 1;
    overflow: hidden;
}


/* About Block */
.about-block {
    width: 29%;
}


/* Service Block */
.service-block {
    width: 23%;
}


/* Newsletter Subscription Block */
.newsletter-subscription-block {
    width: 23%;

}

#newsletter-subscribe-email {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}


.newsletter-subscribe-button {
    min-height: 42px;
    width: 100%;
    min-width: 150px;
    padding: 8px 12px;
}


/* Payment icons */

.footer-icons {
    width: 25%;
    padding-top: 26px;
    padding-left: 30px;
}



.payment-items {
    display: flex;
    flex-wrap: wrap;
}



.payment-item {
    display: block;
    width: 50%;
    padding: 0 0 20px 10px;

}


.payment-logo {
    display: flex;
    align-items: center;
    height: 50px;
}

.payment-logo img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    flex: 0 0 auto;
    object-fit: scale-down;
}

/*
img[src$=".svg"] {width: 100%;}
*/




/* Footer Bottom Container Blocks */

.footer-bottom-container {
    padding: 10px 8px;
}


.footer-bottom-container-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Footer Bottom Menu */


.footer-bottom-menu {
    margin-right: 10px;
}


.footer-bottom-menu-item:not(:last-child):after {
    display: inline-block;
    content: "|";
    margin: 2px 10px;
    ;
}


.footer-bottom-menu-item {
    margin: 2px 0;
}



/* Footer Rating */

.footer-raiting {
    margin: 2px 10px;
}

.footer-rating-stars {
    display: inline-block;
    margin-right: 10px;

}


.fa.fa-star {
    color: #ffc100;
}


.footer-rating-reviews {
    display: inline-block;
    margin: 2px 0;
}










/* MEDIA QUERIES */


/* ------------------------------- max-width: 1199px -------------------------------*/

@media screen and (max-width: 1199px) {

    /* Page Container*/

    .page-container{
        padding-left: 8px;
        padding-right: 8px;
    }


    /* PRODUCT SLIDER */

    .slider-button {
        top: 0;
        height: 100%;
    }

    .button-arrow {
        background-color: #000;
        opacity: 0.5;
    }

    .btn-prev .button-arrow {
        background-image: url(../assets/icons/right-arrow-icon-white.png);
        transform: rotate(180deg);

    }

    .btn-next .button-arrow {
        background-image: url(../assets/icons/right-arrow-icon-white.png);
    }

    .btn-prev {
        left: 0;
    }

    .btn-prev:hover {
        transform: none;
    }

    .btn-next {
        right: 0;
    }

    .btn-next:hover {
        transform: none;
    }


    /* FOOTER COLUMNS */

    .column {
        padding-left: 8px;
    }

}




/* ------------------------------- max-width: 991px -------------------------------*/

@media screen and (max-width: 991px) {

    /* HEADER MAIN */

    .header {
        font-size: 12px;
    }


    /* HEADER NAVIGATION */
    .navigation-menu-container {
        min-width: 130px;
    }

    .navigation-item a {
        padding-top: 12px;
    }

    .navigation-item:first-child::after {
        top: 14px;
    }



    /* SEARCH */

    .search-button {
        top: 13px;
    }


    /* LOGGIN LINK */
    .loggin-link {
        display: block;
        padding: 8px;
    }

    .loggin-link::before {
        display: block;
        margin-right: 0;
    }


    /* SHOPPING CART */

    .shopping-cart-link {
        padding-left: 40px;
        padding-right: 12px;
    }

    .shopping-cart-link::before {
        left: 12px;
    }


    /* PRODUCT SLIDER > Product Grid */

    .products-grid {
        left: 0;
    }

    .product-tile {
        flex-basis: 25%;
    }


    /* FOOTER COLUMNS */

    .column {
        width: 50%;
    }

}




/* ------------------------------- max-width: 767px -------------------------------*/

@media screen and (max-width: 767px) {

    /* HEADER LOGO*/

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
    }


    /* NAVIGATION MENU */


    /* Hamburger Menu Icon */

    .hamburger-icon-container {
        display: block;
    }


    /* Menu Overlay Toggle */

    #menu-overlay-toggle:checked + .navigation-wrapper {
        margin-left: 0;
    }


    /* MENU */

    .navigation-wrapper {
        display: block;
        position: fixed;
        overflow-x: hidden;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        margin-left: -100%;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #000;
        -webkit-transition: 0.3s margin-left ease-out;
        transition: 0.3s margin-left ease-out;
    }


     /* Menu Title */

    .menu-title-container {
        display: flex;
        height: 40px;
        justify-content: flex-end;
        align-items: center;
        padding: 8px;
        background-color: #f4f4f4;

    }

    .menu-title {
        display: inline-block;
        flex-grow: 1;
        text-transform: uppercase;
        text-align: center;
    }

    .menu-close {
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }




    /* Menu Items */

    .navigation-item {
        display: block;
        border-bottom: 1px solid #ccc;
    }

    .navigation-item:first-child {
        display: none;
    }


    .navigation-items:hover .navigation-item:first-child {
        background-color: #000;
        color: #fff;
    }

    .navigation-items:hover .navigation-item:first-child:hover {
        color: #ffc100;
    }

    .navigation-item:first-child::after {
        display: none;
    }

    .navigation-item a {
        padding-top: 10px;
    }



    /* MAIN CONTENT > TOP CONTENT */

    .top-content {
        flex-flow: column wrap;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    /* Sidebar with links*/

    .links-sidebar-container {
        order: 0;
        padding-top: 15px;
    }

    .link-items {
        display: flex;
        flex-wrap: wrap;
    }

    .link-item {
        width: 33.33%;
    }


    .link-item:not(:last-child) {
        padding-bottom: 12px;

    }


    /* BANNER */

    .banner {
        flex: 1 1 100%;
        padding-left: 0px;
        min-width: 300px;
    }

    .banner:first-child {
        min-width: 300px;
    }


    .banner .block-title {
        margin-top: 0px;
    }

    .banner:first-child .block-title {
        margin-top: 0px;
        font-size: 24px;
    }

    .banner-inner {
        border-radius: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        min-height: 180px;
    }

    .banner:first-child .banner-inner {
        align-items: center;
    }

    .banner:first-child .banner-image-container {
        height: 85px;
        width: 120px;
    }


    /* PRODUCT SLIDER */

    .product-slider .block-title {
        font-size: 24px;
        padding-left: 8px;
    }


    /* PRODUCT SLIDER > Product Grid */

    .products-grid {
        left: 0;
    }

    .product-tile {
        flex-basis: 33.33%;
    }


    /* PRODUCT SLIDER > Product Price Box */

    .product-price-box {
        font-size: 30px;
    }


    /* BOTTOM BANNERS */

    .bottom-banner {
        width: 100%;
        flex-grow: 1;
        max-height: 100%;
        border-radius: 0;
    }


    /* Footer Bottom Container Blocks */

    .footer-bottom-container-inner {
        flex-direction: column;

    }


    /* Footer Bottom Menu */

    .footer-bottom-menu {
        margin-right: 0px;
        margin-bottom: 10px;
    }

}




/* ------------------------------- max-width: 575px -------------------------------*/

@media screen and (max-width: 575px) {

    /* Sidebar with links*/

    .link-item {
        width: 50%;
    }


    /* PRODUCT SLIDER > Product Grid */

    .products-grid {
        left: 0;
    }

    .product-tile {
        flex-basis: 50%;
    }


    /* FOOTER COLUMNS */

    .column {
        width: 100%;
    }

}




/* ------------------------------- max-width: 479px -------------------------------*/

@media screen and (max-width: 479px) {


    /* LOGGIN LINK*/

    .loggin-link::before {
        margin-top: 4px;
        font-size: 16px;
    }

    .loggin-link-text {
        display: none;
    }


    /* Sidebar with links*/

    .link-item {
        width: 100%;
    }


    /* BANNER */
    .banner-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner:first-child .banner-inner {
        align-items: flex-start;
    }


    .banner-image-container {
        margin-left: 0;
        align-self: flex-end;
        margin-top: -25%;

    }

    .banner:first-child .banner-image-container {
        align-self: flex-end;
    }


}

