/* MEDIA QUERIES */


/* ------------------------------- max-width: 1199px -------------------------------*/

@media screen and (max-width: 1199px) {

    /* Page Container*/

    .page-container{
        padding-left: 8px;
        padding-right: 8px;
    }


    /* PRODUCT SLIDER */

    .slider-button {
        top: 0;
        height: 100%;
    }

    .button-arrow {
        background-color: #000;
        opacity: 0.5;
    }

    .left-button .button-arrow {
        background-image: url(../assets/icons/right-arrow-icon-white.png);
        transform: rotate(180deg);

    }

    .right-button .button-arrow {
        background-image: url(../assets/icons/right-arrow-icon-white.png);
    }


    .left-button {
        left: 0;
    }

    .right-button {
        right: 0;
    }


    /* FOOTER COLUMNS */

    .column {
        padding-left: 8px;
    }

}




/* ------------------------------- max-width: 991px -------------------------------*/

@media screen and (max-width: 991px) {

    /* HEADER MAIN */

    .header {
        font-size: 12px;
    }


    /* HEADER NAVIGATION */
    .navigation-menu-container {
        min-width: 130px;
    }

    .navigation-item a {
        padding-top: 12px;
    }

    .navigation-item:first-child::after {
        top: 14px;
    }



    /* SEARCH */

    .search-button {
        top: 13px;
    }


    /* LOGGIN LINK */
    .loggin-link {
        display: block;
        padding: 8px;
    }

    .loggin-link::before {
        display: block;
        margin-right: 0;
    }


    /* SHOPPING CART */

    .shopping-cart-link {
        padding-left: 40px;
        padding-right: 12px;
    }

    .shopping-cart-link::before {
        left: 12px;
    }


    /* PRODUCT SLIDER > Product Grid */

    .product-grid {
        left: -25%;
    }

    .product-tile {
        flex-basis: 25%;
    }


    /* FOOTER COLUMNS */

    .column {
        width: 50%;
    }

}




/* ------------------------------- max-width: 767px -------------------------------*/

@media screen and (max-width: 767px) {

    /* HEADER LOGO*/

    .header-logo {
        display: none;
    }

    .header-logo-mobile {
        display: block;
    }


    /* NAVIGATION MENU */


    /* Hamburger Menu Icon */

    .hamburger-icon-container {
        display: block;
    }


    /* Menu Overlay Toggle */

    #menu-overlay-toggle:checked + .navigation-wrapper {
        margin-left: 0;
    }


    /* MENU */

    .navigation-wrapper {
        display: block;
        position: fixed;
        overflow-x: hidden;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        margin-left: -100%;
        font-size: 14px;
        text-transform: uppercase;
        background-color: #000;
        -webkit-transition: 0.3s margin-left ease-out;
        transition: 0.3s margin-left ease-out;
    }


     /* Menu Title */

    .menu-title-container {
        display: flex;
        height: 40px;
        justify-content: flex-end;
        align-items: center;
        padding: 8px;
        background-color: #f4f4f4;

    }

    .menu-title {
        display: inline-block;
        flex-grow: 1;
        text-transform: uppercase;
        text-align: center;
    }

    .menu-close {
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }




    /* Menu Items */

    .navigation-item {
        display: block;
        border-bottom: 1px solid #ccc;
    }


    .navigation-items:hover .navigation-item:first-child {
        background-color: #000;
        color: #fff;
    }

    .navigation-items:hover .navigation-item:first-child:hover {
        color: #ffc100;
    }

    .navigation-item:first-child::after {
        display: none;
    }

    .navigation-item a {
        padding-top: 10px;
    }



    /* MAIN CONTENT > TOP CONTENT */

    .top-content {
        flex-flow: column wrap;
        margin-top: 15px;
        margin-bottom: 15px;
    }


    /* Sidebar with links*/

    .links-sidebar-container {
        order: 0;
        padding-top: 15px;
    }

    .link-items {
        display: flex;
        flex-wrap: wrap;
    }

    .link-item {
        width: 33.33%;
    }


    .link-item:not(:last-child) {
        padding-bottom: 12px;

    }


    /* BANNER */

    .banner {
        flex: 1 1 100%;
        padding-left: 0px;
        min-width: 300px;
    }

    .banner:first-child {
        min-width: 300px;
    }


    .banner .block-title {
        margin-top: 0px;
    }

    .banner:first-child .block-title {
        margin-top: 0px;
        font-size: 24px;
    }

    .banner-inner {
        border-radius: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        min-height: 180px;
    }

    .banner:first-child .banner-inner {
        align-items: center;
    }

    .banner:first-child .banner-image-container {
        height: 85px;
        width: 120px;
    }


    /* PRODUCT SLIDER */

    .product-slider .block-title {
        font-size: 24px;
        padding-left: 8px;
    }


    /* PRODUCT SLIDER > Product Grid */

    .product-grid {
        left: -33.33%;
    }

    .product-tile {
        flex-basis: 33.33%;
    }


    /* PRODUCT SLIDER > Product Price Box */

    .product-price-box {
        font-size: 30px;
    }


    /* BOTTOM BANNERS */

    .bottom-banner {
        width: 100%;
        flex-grow: 1;
        max-height: 100%;
        border-radius: 0;
    }


    /* Footer Bottom Container Blocks */

    .footer-bottom-container-inner {
        flex-direction: column;

    }


    /* Footer Bottom Menu */

    .footer-bottom-menu {
        margin-right: 0px;
        margin-bottom: 10px;
    }

}




/* ------------------------------- max-width: 575px -------------------------------*/

@media screen and (max-width: 575px) {

    /* Sidebar with links*/

    .link-item {
        width: 50%;
    }


    /* PRODUCT SLIDER > Product Grid */

    .product-grid {
        left: -50%;
    }

    .product-tile {
        flex-basis: 50%;
    }


    /* FOOTER COLUMNS */

    .column {
        width: 100%;
    }

}




/* ------------------------------- max-width: 479px -------------------------------*/

@media screen and (max-width: 479px) {


    /* LOGGIN LINK*/

    .loggin-link::before {
        margin-top: 4px;
        font-size: 16px;
    }

    .loggin-link-text {
        display: none;
    }


    /* Sidebar with links*/

    .link-item {
        width: 100%;
    }


    /* BANNER */
    .banner-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner:first-child .banner-inner {
        align-items: flex-start;
    }


    .banner-image-container {
        margin-left: 0;
        align-self: flex-end;
        margin-top: -25%;

    }

    .banner:first-child .banner-image-container {
        align-self: flex-end;
    }


}

